{% extends "base.html" %}

{% block content %}

<h1>Recherche d'Informations sur les Entreprises</h1>
<form id="recherche-form" method="post">
    <label for="ticker">Choisir le symbole boursier :</label>
    <select id="ticker" name="ticker">
        <option value="AAPL">Apple Inc. - AAPL</option>
        <option value="MSFT">Microsoft Corporation - MSFT</option>
        <option value="AMZN">Amazon.com, Inc. - AMZN</option>
        <!-- Ajoutez d'autres options ici -->
    </select>
    <button type="submit">Rechercher</button>
</form>

<div id="resultats"></div> <!-- Div pour afficher les résultats -->

<script>
document.getElementById("recherche-form").onsubmit = function(e) {
    e.preventDefault();
    var ticker = document.getElementById("ticker").value;

    fetch("{{ url_for('recherche_news', _external=True) }}?ticker=" + ticker)
        .then(response => response.json())
        .then(data => {
            var resultDiv = document.getElementById("resultats");
            // Traitez les données reçues et affichez-les dans resultDiv
            resultDiv.innerHTML = JSON.stringify(data); // Exemple basique d'affichage
        });
};
</script>

{% endblock %}








        